<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<h1>form</h1>
<form action="/user/registration2" th:object="${user}" method="POST" enctype="utf8">
    <div>
        <label>first name</label>
        <input th:field="*{firstName}"/>
        <p th:each="error: ${#fields.errors('firstName')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>last name</label>
        <input th:field="*{lastName}"/>
        <p th:each="error : ${#fields.errors('lastName')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>email</label>
        <input type="email" th:field="*{email}"/>
        <p th:each="error : ${#fields.errors('email')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>userName</label>
        <input th:field="*{userName}"/>
        <p th:each="error : ${#fields.errors('userName')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>password</label>
        <input type="password" th:field="*{password}"/>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>confirm password</label>
        <input type="password" th:field="*{matchingPassword}"/>
    </div>
    <button type="submit" th:href="@{/login.html}">submit</button>
</form>

<!--<a th:href="@{/login.html}">login</a>-->
</body>
</html>
